export default {
    production: {
        PUBLISHER_SERVER: 'https://dailytimestamp.com',
        PORTAL: 'https://api.portal.hedera.com',
        PORTAL_TOKEN: ''
    },
    staging: {
        PUBLISHER_SERVER: 'https://thetimesta.mp',
        PORTAL: 'https://api.dev.portal.hedera.com',
        PORTAL_TOKEN: ''
    },
    development: {
        PUBLISHER_SERVER: 'http://localhost:9090',
        PUBLISHER_API_POST: '/?rest_route=/hedera-micropayment/v1/hello',
        PUBLISHER_API_SECRET: ''
    },
    test: {
        PUBLISHER_SERVER: 'http://localhost:9001', // required
        PUBLISHER_API_POST: '/?rest_route=/hedera-micropayment/v1/hello', // optional
        PUBLISHER_API_SECRET: '', // optional
        PORTAL: 'http://localhost:9001', // optional
        PORTAL_TOKEN: 'somerandomtoken' // optional
    }
}
